<%- include('../layout/header') %>

<div id="wrapper">
    <div class="content">
        <div class="col-list-wrap fw-col-list-wrap post-container">
            <div class="list-main-wrap fl-wrap card-listing">
                <div class="container">
                    <div class="list-main-wrap-title fl-wrap">
                        <h2>Favourite</h2>
                    </div>
                    <div class="listing-item-container init-grid-items fl-wrap collection">
                        <% restuarant.forEach( item => { %>
                        <div class="listing-item" data-type="Restaurant">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    <a href="/single?id=<%= item.id %>"><img src="<%= item.image %>" alt=""></a>
                                    <div class="geodir-category-opt">
                                        <div class="listing-rating card-popup-rainingvis"
                                            data-starrating2="<%= item.rating %>">
                                        </div>
                                        <div class="rate-class-name">
                                            <div class="score">  
                                            <% if(item.num_reviews >= 4) { %>
                                                <strong>Recomended</strong> <small id="mydiv"></small>
                                                <% } else if( item.num_reviews  >= 3){ %>
                                                <strong> Very Good</strong> <small id="mydiv"></small>
                                                <% } else if( item.num_reviews  >= 2){ %>
                                                <strong>Good</strong> <small id="mydiv"></small>
                                                <% } else { %>
                                                <strong>Not Recomended</strong> <small id="mydiv"></small>
                                           <% } %>
                                            <%= item.num_reviews %> Reviews </div>
                                            <span><%= item.rating %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map"><a href="listing-single.html"><%= item.name %></a>
                                            </h3>
                                            <div class="geodir-category-location fl-wrap"><a href="#0"
                                                    class="map-item"><i class="fas fa-map-marker-alt"></i>
                                                    <%= item.address %></a></div>
                                        </div>
                                    </div>
                                    <p><%= item.description.substring(0, 150) %></p>
                                    <ul class="facilities-list fl-wrap">
                                        <li><i class="fal fa-wifi"></i><span>Free WiFi</span></li>
                                        <li><i class="fal fa-parking"></i><span>Parking</span></li>
                                   </ul>
                                    <div class="geodir-category-footer fl-wrap">
                                        <div class="geodir-category-price">Price Level
                                            <span><%= item.price %></span></div>
                                        <div class="geodir-opt-list">
                                            <a href="https://www.google.com/maps/@<%= item.latitude %>,<%= item.longitude %>,15z" target="_blank" class="map-item"><i class="fal fa-map-marker-alt"></i><span
                                                    class="geodir-opt-tooltip">On the map
                                                    <strong>1</strong></span></a>
                                            


                                                    <form action="/delete?id=<%= item.id %>&_method=DELETE" method="POST" style="display: inline;"
                                                        >

                                                        <button type="submit" style="border: 0ch; background: transparent; ">
                                                            <a class="geodir-js-favorite"><i class="fal fa-trash"></i><span
                                                                class="geodir-opt-tooltip">Delete</span></a>
                                                        </button>
                                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        <div class="limit-box fl-wrap"></div>
    </div>
</div>

<%- include('../layout/footer') %>